@model PROBE_SYSTEM.Models.VewInvoiceInquiryModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VewInvoiceInquiryModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingQTY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingQTY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingUnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingUnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PODate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PODate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeSectionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeSectionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeSectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeSectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountSubNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountSubNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuspenseAccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuspenseAccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionFormNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionFormNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ORGReceivingUnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ORGReceivingUnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ORGReceivingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ORGReceivingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMakingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMakingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPlaceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPlaceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPlaceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPlaceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliverySectionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliverySectionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliverySectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliverySectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingEntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingEntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingDate_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingDate_1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PONo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
